/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mai 2014, 12:30:36
    Author     : nico
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    background-color: f4f4f4;
}

#conteneur-inscript{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:650px;
    overflow:hidden;
    margin: auto;
}

#inscript-etapes{
    width:650px;
    overflow:hidden;
}

.etap {
    float: left;
    width: 650px;
}


#inscript-nav{
    height:45px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    
    ul{
        list-style:none;
	float:left;
	margin-left:22px;
        
        li{
            float:left;
            border-right:1px solid #ccc;
            border-left:1px solid #ccc;
            position:relative;
            margin:0px 2px;
            
            a {
                display:block;
                height:45px;
                background-color:#444;
                color:#777;
                outline:none;
                font-weight:bold;
                text-decoration:none;
                line-height:45px;
                padding:0px 20px;
                border-right:1px solid #fff;
                border-left:1px solid #fff;
                background:#f0f0f0;
                background:
                    -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.09, rgb(240,240,240)),
                    color-stop(0.55, rgb(227,227,227)),
                    color-stop(0.78, rgb(240,240,240))
                    );
                background:
                    -moz-linear-gradient(
                    center bottom,
                    rgb(240,240,240) 9%,
                    rgb(227,227,227) 55%,
                    rgb(240,240,240) 78%
                    );
                
                &:hover {
                    background:#d8d8d8;
                    color:#666;
                    text-shadow:1px 1px 1px #fff;
                }
            }
            
            .selected a{
                background:#d8d8d8;
                color:#666;
                text-shadow:1px 1px 1px #fff;
            }
        }
    }
}


span.checked{
    background:transparent url(img/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(img/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}


#inscript-etapes {
    form {
        fieldset {
            border:none;
            padding-bottom:20px;
        }
        
        legend {
            
            text-align:left;
            background-color:#f0f0f0;
            color:#666;
            font-size:24px;
            text-shadow:1px 1px 1px #fff;
            font-weight:bold;
            float:left;
            width:650px;
            padding:5px 0px 5px 10px;
            margin:10px 0px;
            border-bottom:1px solid #fff;
            border-top:1px solid #d9d9d9;
        }
        
        p {
            float:left;
            clear:both;
            margin:5px 0px;
            background-color:#f4f4f4;
            border:1px solid #fff;
            width:400px;
            padding:10px;
            margin-left:50px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow:0px 0px 3px #aaa;
            -webkit-box-shadow:0px 0px 3px #aaa;
            box-shadow:0px 0px 3px #aaa;
        }
        
        label {
            width:160px;
            float:left;
            text-align:right;
            margin-right:15px;
            line-height:26px;
            color:#666;
            text-shadow:1px 1px 1px #fff;
            font-weight:bold;
        }
        
        input:not([type=radio]),textarea,select {
            background: #ffffff;
            border: 1px solid #ddd;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            outline: none;
            padding: 5px;
            width: 200px;
            float:left;
        }
        
        input:focus{
            -moz-box-shadow:0px 0px 3px #aaa;
            -webkit-box-shadow:0px 0px 3px #aaa;
            box-shadow:0px 0px 3px #aaa;
            background-color:#FFFEEF;
        }
        
        p.submit {
            background:none;
            border:none;
            -moz-box-shadow:none;
            -webkit-box-shadow:none;
            box-shadow:none;
        }
        
        button {
            border:none;
            outline:none;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            color: #ffffff;
            display: block;
            cursor:pointer;
            margin: 0px auto;
            clear:both;
            padding: 7px 25px;
            text-shadow: 0 1px 1px #777;
            font-weight:bold;
            font-family:"Century Gothic", Helvetica, sans-serif;
            font-size:18px;
            -moz-box-shadow:0px 0px 3px #aaa;
            -webkit-box-shadow:0px 0px 3px #aaa;
            box-shadow:0px 0px 3px #aaa;
            background:#4797ED;
            
            &:hover {
                background:#d8d8d8;
                color:#666;
                text-shadow:1px 1px 1px #fff;
            }
        }
    }
}
