<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur 404: {{ status_text }}</title>
  </head>
  <body>
    <h1>Oops! Une erreur s'est produite</h1>
    <h2>Le serveur à retourné une erreur: "{{ status_code }} {{ status_text }}".</h2>
    <div>
      Il y a quelque chose de perdu . Please e-mail us at [email] and let us know
      what you were doing when this error occurred. We will fix it as soon
      as possible. Sorry for any inconvenience caused.
    </div>
  </body>
</html>