<h1>Mise en place du slider</h1>
<p>Coucou Version statique du slider avant integration dans twig</p>

<div id="conteneur-inscript">
    <div id="inscript-etape">
        <form id="formElem" name="formElem" action="" method="post">
            <fieldset class="etap">
                <legend>Premiere étape</legend>
                <p>
                    <label for="Username">Nom</label>
                    <input id="Username" name="Username" />
                </p>
                <p>
                    <label for="Firstname">Prenom</label>
                    <input id="Firstname" name="Firstname" />
                </p>
                <p>
                    <label for="Birthday">Date de naissance</label>
                    <input id="Birthday" name="Birthday">
                </p>
            </fieldset>
            <fieldset>
                <legend>Deuxieme etape</legend>
                <p>
                    <label for="telephone">Telephone</label>
                    <input id="telephone" name="telephone" />
                </p>
                <p>
                    <label for="mail">e-mail</label>
                    <input id="mail" name="mail" />
                </p>
            </fieldset>
        </form>        
    </div><!-- End Inscription-etape -->
    <div id="inscript-nav" style="display: none;">
        <ul>
            <li><a href="#">Etape 1</a></li>
            <li><a href="#">Etape 2</a></li>
            <li><a href="#">Etape 3</a></li>
        </ul>        
    </div>
</div>